# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

# Data (no subir datos crudos ni staging)
data/raw/*
!data/raw/.gitkeep
data/staging/*
!data/staging/.gitkeep